-@tab = :home
#main.split.clearfix{:role => "main"}
  #left
    %h1 Announcing CapitolJS
    %p
      Good
      %span#time day
      agent. Your mission, should you choose to accept it, involves the learning of the programming language JavaScript and how to use it properly and effectively. You will be joined by an intimate task force of elite members of the JavaScript community to assist you in this task. You may select to attend either or both of the evening social events occurring the night before and night of the event. This event is happening on September 18
      %sup> th
      , 2011 in Washington, DC at the
      = succeed "." do
        %a{:href => "http://www.hotelpalomar-arlington.com/"} Hotel Palomar
      If you accept this mission, be sure to follow
      %a{:href => "http://www.twitter.com/capitoljs"} @capitoljs
      and
      = succeed "," do
        %a{:href => "http://capitoljs2011.eventbrite.com"} register today
      like all JSConf events - it will sell out. See you in Washington DC.
    %p At CapitolJS, you might see:
    %ul
      %li
        %a{:href => "http://crockford.com/"} Douglas Crockford
        Codename: "The Man from Y.A.H.O.O."
      %li
        %a{:href => "http://www.rebeccamurphey.com/"} Rebecca Murphey
        Codename: "Agent 99"
      %li
        %a{:href => "http://alexsexton.com/"} Alex Sexton
        Codename: "Agent Oatmeal"
      %li
        %a{:href => "http://miketaylr.com/"} Mike Taylor
        Codename: "MKULTRA"
      %li
        %a{:href => "http://subprint.com/blog/"} Joe McCann
        Codename: "subprint"
    %p
      If you are enrolling for CapitolJS, be sure to stay at the conference hotel - the Hotel Palomar in Arlington, VA for the low price of $149.00/night.
      %a{:href => "https://gc.synxis.com/rez.aspx?Hotel=26723&amp;Chain=10179&amp;arrive=9/17/2011&amp;depart=9/19/2011&amp;adult=1&amp;child=0&amp;group=11540401133"} Reserve your hotel room today!
  #right
    .sponsor
      %a{:href => "sponsors.html#hpwebos"}
        %img.gray{:alt => "HP Web OS", :src => "images/sponsors/hpwebos/gray.png"}/
        %img.color{:alt => "HP Web OS", :src => "images/sponsors/hpwebos/color.png"}/
    .sponsor
      %a{:href => "sponsors.html#zappos"}
        %img.gray{:alt => "Zappos Family", :src => "images/sponsors/zappos/gray.png"}/
        %img.color{:alt => "Zappos Family", :src => "images/sponsors/zappos/color.png"}/
    .sponsor
      %a{:href => "sponsors.html#yammer"}
        %img.gray{:alt => "Yammer", :src => "images/sponsors/yammer/gray.png"}/
        %img.color{:alt => "Yammer", :src => "images/sponsors/yammer/color.png"}/
    .sponsor
      %a{:href => "sponsors.html#mozilla"}
        %img.gray{:alt => "Mozilla", :src => "images/sponsors/mozilla/gray.png"}/
        %img.color{:alt => "Mozilla", :src => "images/sponsors/mozilla/color.png"}/