-@tab = :schedule
#single
  .wrap
    %h1 Schedule
    %p Our schedule is also available in mobile version thanks to the awesome Guidebook application for it, click the badge below. We recommend using the Guidebook app because its 1.) mobile and 2.) has all the speaker details inline with the schedule. So use it.
    %center= '<iframe src="http://gears.guidebookapp.com/static/assets/badge.html" frameborder="0" width="334" height="94" style="width:334px;height:94px;overflow:hidden;" scrolling="no"></iframe>'
    %p As with a JSConf event, there will be a free-form Track B sponsored by the&nbsp;AMazing people at R/GA. When you get to CapitolJS, there will be a sign up sheet at registration for you to pick a slot if you want to speak. Each slot is for 15 minutes, so it is a bit rapid fire, but allows everyone to speak who might want to speak. Be sure to check the Track B schedule through out the day as it will be just as&nbsp;AMazing as Track A, it always is. 
    %p Also for those of you wishing to "break-away" and cut some code with the speakers, we have a fully catered Hacker's Lounge ready for you care of the Phono team. The hacker's lounge is all the goodness of a hallconf, but in a semi-organized (and a lot more comfortable) fashion. Be sure to indulge in some coding goodness at CapitolJS, its half the fun of the event to be able to say "I hacked with Joe McCann".
    %p= "&nbsp;"
    %h1 Saturday Night
    %table
      %tr
        %th Start
        %th End
        %th Event
      %tr
        %td 7:00&nbsp;PM
        %td 11:00&nbsp;PM
        %td
          %b Yammer's Opening Party - Fathom Gallery
          %br
          CapitolJS sponsor Yammer invites you to the opening party at the&nbsp;AMazing <a href='http://fathomgallery.org/'>Fathom Gallery</a> in downtown Washington DC. There will be heavy hors de'oeuvres and drinks for you to enjoy. Spend the evening meeting with other CapitolJS attendees on the rooftop, gallery space, and patio of the Fathom Gallery. This event will be both an indoor and outdoor event. From the hotel, you can metro to the event using the orange line to the McPherson Square Metro Station. <a href='http://g.co/maps/exz5'>Map</a>.
     
    %p= "&nbsp;"
    %h1 Sunday
    %table
      %tr
        %th Start
        %th End
        %th Event
      %tr
        %td 8:00&nbsp;AM
        %td 9:00&nbsp;AM
        %td
          %b Breakfast and Registration
          %br
          Bacon, Eggs, Veggies, a hot breakfast for all brought to you by our sponsor, Mozilla.
      %tr
        %td 9:00&nbsp;AM
        %td 9:15&nbsp;AM
        %td
          %b Introductions
          %br
          A word from our Directors, Chris and Laura Williams, about how your&nbsp;AMazing day at CapitolJS will proceed. Be sure to be present to know how the whole day will play out.
      %tr
        %td 9:15&nbsp;AM
        %td 9:45&nbsp;AM
        %td
          %b Douglas Crockford
      %tr
        %td 9:45&nbsp;AM
        %td 10:15&nbsp;AM
        %td
          %b Ben Combee
      %tr
        %td 10:15&nbsp;AM
        %td 10:30&nbsp;AM
        %td
          %b Break
          %br
          Coffee and refreshments brought to you by the&nbsp;AMazing people at NodeJitsu
      %tr
        %td 10:30&nbsp;AM
        %td 11:00&nbsp;AM
        %td
          %b Nicholas Zakas
      %tr
        %td 11:00&nbsp;AM
        %td 11:30&nbsp;AM
        %td
          %b Mikeal Rogers
      %tr
        %td 11:30&nbsp;AM
        %td 11:45&nbsp;AM
        %td
          %b Break
          %br
          Coffee and refreshments brought to you by the&nbsp;AMazing people at NodeJitsu
      %tr
        %td 11:45&nbsp;AM
        %td 12:15&nbsp;PM
        %td
          %b Jed Schmidt
      %tr
        %td 12:15&nbsp;PM
        %td 1:15&nbsp;PM
        %td
          %b Lunch
          %br
          Even more&nbsp;AMazing food for you thanks to Mozilla.
      %tr
        %td 1:15&nbsp;PM
        %td 1:45&nbsp;PM
        %td
          %b Mike Taylor
      %tr
        %td 1:45&nbsp;PM
        %td 2:15&nbsp;PM
        %td
          %b Rebecca Murphey
      %tr
        %td 2:15&nbsp;PM
        %td 2:45&nbsp;PM
        %td
          %b Alex Sexton
      %tr
        %td 2:30&nbsp;PM
        %td 3:00&nbsp;PM
        %td
          %b Alex Russell
      %tr
        %td 3:00&nbsp;PM
        %td 3:15&nbsp;PM
        %td
          %b Break
          %br
          Coffee and refreshments brought to you by the&nbsp;AMazing people at NodeJitsu
      %tr
        %td 3:15&nbsp;PM
        %td 3:45&nbsp;PM
        %td
          %b Joe McCann
      %tr
        %td 3:45&nbsp;PM
        %td 4:15&nbsp;PM
        %td
          %b Paolo Fragomeni
      %tr
        %td 4:15&nbsp;PM
        %td 4:30&nbsp;PM
        %td
          %b Break
          %br
          Coffee and refreshments brought to you by the&nbsp;AMazing people at NodeJitsu
      %tr
        %td 4:30&nbsp;PM
        %td 5:00&nbsp;PM
        %td
          %b Pamela Fox
      %tr
        %td 5:00&nbsp;PM
        %td 5:30&nbsp;PM
        %td
          %b Brendan Eich
      %tr
        %td 5:30&nbsp;PM
        %td 6:00&nbsp;PM
        %td
          %b Closing Remarks with the CapitolJS Team
          %br
          Closing words to finish out an&nbsp;AMazing day of JS content and hopefully send everybody off with the excitement and energy to change the world for good.
      %tr
        %td 7:00&nbsp;PM
        %td 11:00&nbsp;PM
        %td
          %b Zappos' Closing Party
          %br
          The best way to finish out CapitolJS is the JSConf way, with an&nbsp;AMazing party. Come and join us close out this&nbsp;AMazing day at the nearby Cafe Asia with some sushi and other Japanese treats sponsored by Zappos. This event is within walking distance from the Hotel Palomar, just be sure to stop on by! <a href="http://g.co/maps/2j65">Map</a>. 
  
