-@tab = :venue
#single
  .wrap
    %h1 Venue
    %p
      We are proud to announce that CapitolJS will be held at the birth place of JSConf, the swanky, sophisticated, boutique
      %a{:href=>"http://www.hotelpalomar-arlington.com/"} Hotel Palomar
      in Arlington VA. The hotel is located in the heart of Rosslyn, Virginia, just steps away from the public transit system called the 
      %a{:href=>"http://www.wmata.com/rail/maps/map.cfm"} Metro. 
      Parking is available, but we highly recommend the safe, clean, and cost effective 
      %a{:href=>"http://wmata.com/getting_around"} Metro.

    %p We are also able to work with Hotel Palomar to decrease the room rate for CapitolJS attendees this year. The rate is <b>$149</b> per night for a single or double room, the rate is valid between the dates of September 16 - 19, 2011. The <a href="http://www.hotelpalomar-arlington.com/boutique-hotel-rooms/index.html">rooms are absolutely spectacular</a> and most have a wonderful view of the Potomac River and city (seen below). For reservations, <a href="https://gc.synxis.com/rez.aspx?Hotel=26723&Chain=10179&arrive=9/17/2011&depart=9/19/2011&adult=1&child=0&group=11540401133">click here</a>!

    %center
      %img{:src=>"/images/hotel.png", :alt=>"A room with a view of the potomac river"}
    %h3 Getting Here
    %h4 Flying
    %p There are two major airports that service the Washington DC metro area, <a href="http://www.mwaa.com/national/">Reagan National Airport</a> and <a href="http://www.metwashairports.com/Dulles/">Dulles International Airport</a>. Reagan is the closest airport to the hotel, located just 5 short metro stops on the Blue line away from Hotel Palomar. We recommend taking advantage of the low ticket prices to purchase your flights as soon as possible.
    %h4 Driving
    %p As mentioned above, we recommend taking the metro over driving to the conference, it will save you time, money, frustration, and the environment. That said, if you are driving the hotel offers Valet parking with full in-and-out privileges for $30 per night and self parking for $18.